<ion-header>
  <ion-toolbar class="naranja">
    <ion-title class="ion-padding-top ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/logo.PNG">
  <ion-item>
    <ion-label class="ion-margin-top naranja" expand="block">Correo Electrónico:</ion-label>
    <ion-input [(ngModel)]="mdl_correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="ion-margin-top naranja" expand="block">Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="mdl_contrasena"></ion-input>
  </ion-item>
  <ion-label>
    <ion-button (click)="fusion()" class="ion-margin-top naranja" expand="block">Registrar Cuenta</ion-button>
  </ion-label>
  <ion-label>
    <ion-button (click)="salir()"  expand="block" class="ion-margin-top naranja" >Volver al login
      <ion-icon name="exit-outline" slot="end"></ion-icon></ion-button>
  </ion-label>
</ion-content>
